<header>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Decode blog</a>
            <form class="d-flex" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск по блогам" >
                    <button class="btn">
                        <i class="fa-solid fa-magnifying-glass"></i>Найти 
                    </button>
                </div>
            </form>
            <div class="btn-toolbar gap-5">
                <a href='/reg' class="btn">Регистрация</a>
                <a href='/auth' class="btn btn-auth">Вход</a>
            </div>
        </div>
    </nav>
</header>

<script src="https://kit.fontawesome.com/eefa9efbc0.js" crossorigin="anonymous"></script>