<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
</head>
<body>
    <%- include('header') -%>
    <div class="container">
        <main class="main gap-4">
            <div class="blog">
                <h2 class="title">Блоги по програмированию</h2>
                <h4>Популярные и лучшие публикации по программированию для начинающих
                и профессиональных программистов и IT-специалистов.</h4>
                <div class="blog-image">
                    <img src="/img/image 1.png" alt="image1">
                </div>
                <h3 class="blog-title">
                    Обзор Report Manager от Webix
                </h3>
                <p class="blog-text">Осень 2020 года стала плодотворным временем для специалистов Webix. </p>
                <p class="blog-text">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                <p class="blog-text">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим ег</p>
                <div class="blog-info">
                    <div class="blog-item">
                        <img class='date-icon' src="/icons/date.svg" alt="date-icon">
                        <p>26.06.2020</p>
                    </div>
                    <div class="blog-item">
                        <img class="views-icon" src="/icons/visibility.svg" alt="views-icon">
                        <p>21</p>
                    </div>
                    <div class="blog-item">
                        <img class="comments-icon" src="/icons/icon-message.svg" alt="message-icon">
                        <p>4</p>
                    </div>
                    <div class="blog-item">
                        <img class="section-icon" src="/icons/forums.svg" alt="section-icon">
                        <p>Веб-разработка</p>
                    </div>
                    <div class="blog-item">
                        <img class="author-icon" src="/icons/person.svg" alt="author-icon">
                        <p>Nast1289</p>
                    </div>
                </div> 
                
                <div class="blog-image">
                    <img src="/img/image 2.png" alt="image1">
                </div>
                <h3 class="blog-title">
                    Разработчики изобрели методологию высокоскоростного программирования
                </h3>
                <p class="blog-text">Осень 2020 года стала плодотворным временем для специалистов Webix. </p>
                <p class="blog-text">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                <p class="blog-text">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим ег</p>
                <div class="blog-info">
                    <div class="blog-item">
                        <img class='date-icon' src="/icons/date.svg" alt="date-icon">
                        <p>26.06.2020</p>
                    </div>
                    <div class="blog-item">
                        <img class="views-icon" src="/icons/visibility.svg" alt="views-icon">
                        <p>21</p>
                    </div>
                    <div class="blog-item">
                        <img class="comments-icon" src="/icons/icon-message.svg" alt="message-icon">
                        <p>4</p>
                    </div>
                    <div class="blog-item">
                        <img class="section-icon" src="/icons/forums.svg" alt="section-icon">
                        <p>Веб-разработка</p>
                    </div>
                    <div class="blog-item">
                        <img class="author-icon" src="/icons/person.svg" alt="author-icon">
                        <p>Nast1289</p>
                    </div>
                </div> 
            </div>
            <div class="categories">
                <h2 class="title">
                    Категории
                </h2>
                <div class="categories-parent">
                    <% categories.forEach(category=>{
                    %>
                    <a href="<%= categories.key%>"><%= category.name%></a>
                    <%
                    }) %>
                </div>
            </div>
        </main>
    </div>
    
</body>
</html>