.profile{
    background-color: #fff;
    text-align: center;
    height:80vh;
}
.profile-photo{
    width:12.5rem;
    height:12.5rem;
    margin: 1.5rem auto;
}
.profile-photo>img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile h5{
    font-weight: 600;
    line-height: 46px;
}
.profile p{
    padding:0.75rem 3rem 2rem;
    line-height: 24px;
    width:19.5rem;
}
.options-btn{
    float: right;
    cursor: pointer;
    position: relative;
}
.blog{
    position: relative;
}
.options{
    display: none;
    flex-direction: column;
    width:11.4rem;
    position: absolute;
    right:0;
    top:120%;
    border-radius: 3px;
}
.btn.edit{
    background-color: #fff;
    color:#000;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.btn.delete{
    background-color: #fff;
    color:#ff0000;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.open-options{
    display: flex !important;
}